.container-fluid-first{
    position:relative;
}
.container-fluid{
    padding:0 !important;
    margin: 0 !important;
}
.navbar-header{
    position:absolute;
    left:50%;
}
/*.col-xs-12{*/
    /*padding-left:0px !important;*/
    /*padding-right:0px !important;*/
/*}*/
.col-head-image img{
    margin-top:-20px;
    width:100%;
}
.col-head-image{
    z-index: -1;
}
.col-head-image{
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}
.art-text-abs{
    position: absolute;
    bottom:50%;
    left:35%;
    font-size:40px;
    font-weight: bold;
    color:#fff;
}
.btn-in-image{
    position: absolute;
    bottom:38%;
    left:44%;
    background-color: #0DAB00;
    border:transparent;
    padding:10px 40px;
    border-radius: 20px;
}
.btn-in-image-scroll-down{
    position:absolute;
    bottom: 5%;
    left:46%;
    background-color: #fff4ec;
    opacity: 0.5;
    border:transparent;
    color:#000;
    font-weight: bold;
    border-radius:20px;
}
.what-we-do{
    height:500px;
    background-color:#f0f0ee;
}
.what-we-do-main{
    text-align: center;
    font-weight: 400;
    font-size:30px;
    padding-bottom:5px;
}
.what-we-do-detail{
    text-align: center;
    font-weight: 300;
    font-size:14px;
}
.what-we-do-top{
    margin-top:25px;
}
.image-detail-what{
   margin-top:150px;
   margin-left:0px !important;
    margin-right:0px !important;
}

.src-image{
    width:160px;
    height:90px;
    border-radius:30px;
}
.div-image-title{
    font-weight: 600;
    margin:20px 0;
    font-size:20px;
}
.btn-sm{
    margin-top:15px;
    padding:8px 20px;
    border-radius: 18px;
}
.col-img-justify{
    padding:0 100px;
    text-align: center;
}
.testimonials{
    height: 460px;
}
.carousel-display-size{
    /*width:100%;*/
    /*height:100%;*/
}
.carousel-image-inside{
    /*text-align: center;*/
}
.our-happy-client{
    margin-top:-10px;
    height: 440px;
}
.our-happy-client-main{
    font-weight: 400;
    font-size:30px;
}
.our-happy-client-sub{
    font-size:14px;
    padding-bottom:2px;
}
.our-happy-client{
    text-align: center;
    background-color:#f0f0ee;
}
.see-all-btn{
    margin-top:40px;
    background-color: #fff4ec;
    padding:8px 30px;
    border:transparent;
    color:#000;
    border-radius:15px;
}
.our-happy-client-top{
    margin-bottom: 40px;
}
.our-happy-client-row{
    margin-bottom:10px;
}
.our-happy-client-col{
    margin-bottom:15px;
}
.person-profile{
    float:left;
    width: 125px;
    height: 125px;
    margin:0px 25px;
}
.person-super{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:250px;
}
.meet-the-team{
    height: 440px;
    background-color: #0AFF87;
}
.section-top{
    padding-top:20px;
    text-align: center;
}
.section-head{
    font-size:30px;
    font-weight: 400;
    padding-bottom:5px;
}
.section-subhead{
    font-size:14px;
}
.profile-container{
    padding-top:40px;
}
.person{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.person-line{
    margin-top:10px;
    width:2px;
    height:50px;
    background-color:#000;
}
.person-name{
    margin:5px;
    color:#fff;
}
.social-icon-coll{
    margin-top:10px;
    width:120px;
    height:40px;
    padding:5px;
    background-color:#f0f0ee;
    border-radius:40px;
}
.icon-square{
    color:white;
    height:30px;
    width:30px;
    padding:8px;
    border-radius: 15px;
    background-color:#0e6cad;
}
.social-icon{
    margin-left:5px;
}
.btn-meet{
    text-align: center;
    line-height: 80px;
    /*border-radius:40px;*/
}
.meet-team-footer{
    height:120px;
    padding:20px;
    background-color:#03b75d;
}
.btn-work{
    border-radius:20px;
    background-color: #0AFF87;
    border:transparent;
}
/*
 * ===================================================================
 *  OUR LATEST WORK SECTION
 * ===================================================================
 *
 */

.our-latest-work{
    background-color:#9FFFA0;
    height:450px;
}
.latest-work-header-col{
    text-align: center;
}
.nav-tabs{
    border-bottom: 0px;
    max-width:300px;
    background-color: #fff;
    padding-right:5px;
    border-right: 1px solid #59FF00;
    border-radius: 20px;
    margin:0px auto;
}
.nav-tabs>li {
    padding:5px;
}
.nav-tabs>li>a:hover {
    background-color:#59FF00;
}
.nav-tabs>li>a:active {
    background-color:#59FF00;
}
.margin-top-tabs{
    margin-top:20px;
}